apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecg-api
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: api
        env:
        - name: ENVIRONMENT
          value: "production"
        - name: LOG_LEVEL
          value: "WARNING"
