apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - servicemonitor.yaml
  - postgres.yaml  # Add this
  - mlflow.yaml

namespace: ecg-dev

commonLabels:
  app: ecg-api
  project: ecg-recommender