apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecg-api
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: api
        image: ecg-api:v0.1.0  # Pin version
        env:
        - name: ENVIRONMENT
          value: "staging"
        - name: LOG_LEVEL
          value: "INFO"